.App {
  max-width: 900px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgb(239, 239, 245);
}

.App > h1{
  background-color: rgb(33, 33, 128);
  padding: 30px;
  margin-bottom: 40px;
  max-width: 450px;
  color: white;
  border-radius: 3px;
  transform: translate(-50px, 20px);
  letter-spacing: 3px;
  font-weight: normal;
  cursor: default;
  box-shadow: 0.2rem 0.2rem 0.4rem #888888;
}

.App > h2 {
  margin-left: 30px;
}

.red-x {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 20px 20px 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
}

li {
  margin: 10px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: rgb(32, 45, 95);
  color: rgb(234, 236, 255);
  border-radius: 3px;
  transition: 0.1s ease-in-out;
}

li:hover{
  background-color: rgb(10, 20, 58);
}

form {
  transform: translate(50px, -30px);
  box-shadow: 0.2rem 0.2rem 0.2rem #c7c8ce;
  background-color: rgb(230, 230, 241);
  border-radius: 3px;
  width: 800px;
  margin: 30px auto;
  padding: 30px
}

input {
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 3px;
}

input[type=submit] {
  padding:10px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  transition: 0.1s ease-in-out;
}

input[type=submit]:hover {
  background-color: gray;
}